node_modules/
dist/
.vite/
.arduino
*.hex
*.bin
*.elf
*.eep
*.map

coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
